priority 100

snippet const "" i
const $0 = 
endsnippet

snippet let "" i
let $0 = 
endsnippet

snippet if "" i
if ($0) {}
endsnippet

snippet else "" i
else {$1}
endsnippet

snippet function "" i
function $0() {}
endsnippet

snippet fun "" i
const $0 =  => 
endsnippet

snippet cl "" i
console.log($0)
endsnippet

snippet c "" i
// $0
endsnippet

snippet map "" i
map($0)
endsnippet
