snippet i "" i
*${0:}*
endsnippet

snippet b "" i
**${0:}**
endsnippet

snippet ib "" i
***${0:}***
endsnippet

snippet bi "" i
***${0:}***
endsnippet

snippet link "" b
[${0:}]()
endsnippet

snippet ref "" b
[${0:}](${0:})
endsnippet
