snippet if "" i
if ${0:}:
	
endsnippet

snippet elif "" i
elif ${0:}:
	
endsnippet

snippet else "" i
else:
${0:}
endsnippet

snippet for "" i
for ${0:}:
	
endsnippet

snippet print "" i
print(${0:})
endsnippet

