# # # # # #
# Custom presets
# # # # # #

snippet reset
* {
	padding: none;
	margin: none;
}
$0
endsnippet


# # # # # #
# Basic stuff
# # # # # #
snippet border
border: $0;
endsnippet
snippet outline
outline: $0;
endsnippet
snippet border-left
border-left: $0
endsnippet
snippet display
display: $0;
endsnippet
snippet background
background: $0;
endsnippet
