# # # # # #
# Tags
# # # # # #

snippet span
<span>$0</span>
endsnippet

snippet img
<img>$0</img>
endsnippet

snippet div
<div>$0</div>
endsnippet

snippet meta
<meta/>$0
endsnippet

snippet table
<table>$0</table>
endsnippet

snippet strong
<strong>$0</strong>
endsnippet


# # # # # #
# typescript
# # # # # #
snippet tag
<$1>${0:<content>}</$1>
endsnippet
