snippet import "" i
import
endsnippet

snippet render "" i
render(${0:})
endsnippet

snippet react-dom "" i
react-dom
endsnippet

snippet React "" i
React
endsnippet

snippet ReactDOM "" i
ReactDOM
endsnippet

snippet react "" i
react
endsnippet

snippet export "" i
export
endsnippet

snippet default "" i
default
endsnippet

snippet ct "" i
<$0/>
endsnippet

snippet t "" i
<$0>
endsnippet

snippet class "" i
className='$0'
endsnippet
