snippet nn
nnoremap 
endsnippet
snippet ii 
inoremap 
endsnippet
snippet vv 
vnoremap 
endsnippet
snippet xx 
xnoremap
endsnippet
snippet ss 
snoremap 
endsnippet
snippet oo 
onoremap 
endsnippet
snippet tt ""
tnoremap 
endsnippet
snippet func 
function! $0()

endfunction
endsnippet
snippet plug "vim-plug Paste Plugin" b
Plug '`!v substitute(@+, '\([^\/]*\/\/[^\/]*\/\)\([^/]*\/[^/]*\)\(.*\)', '\2', '' )`'
endsnippet


