
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$grey-5: hsl(0, 0%, 5%);
$grey-10: hsl(0, 0%, 10%);
$grey-15: hsl(0, 0%, 15%);
$grey-20: hsl(0, 0%, 20%);
$grey-25: hsl(0, 0%, 25%);
$grey-30: hsl(0, 0%, 30%);
$grey-35: hsl(0, 0%, 35%);
$grey-40: hsl(0, 0%, 40%);
$grey-45: hsl(0, 0%, 45%);
$grey-50: hsl(0, 0%, 50%);
$grey-55: hsl(0, 0%, 55%);
$grey-60: hsl(0, 0%, 60%);
$grey-65: hsl(0, 0%, 65%);
$grey-70: hsl(0, 0%, 70%);
$grey-75: hsl(0, 0%, 75%);
$grey-80: hsl(0, 0%, 80%);
$grey-85: hsl(0, 0%, 85%);
$grey-90: hsl(0, 0%, 90%);
$grey-95: hsl(0, 0%, 95%);

$primary-5: hsl(189, 45%, 5%);
$primary-10: hsl(189, 45%, 10%);
$primary-15: hsl(189, 45%, 15%);
$primary-20: hsl(189, 45%, 20%);
$primary-25: hsl(189, 45%, 25%);
$primary-30: hsl(189, 45%, 30%);
$primary-35: hsl(189, 45%, 35%);
$primary-40: hsl(189, 45%, 40%);
$primary-45: hsl(189, 45%, 45%);
$primary-50: hsl(189, 45%, 50%);
$primary-55: hsl(189, 45%, 55%);
$primary-60: hsl(189, 45%, 60%);
$primary-65: hsl(189, 45%, 65%);
$primary-70: hsl(189, 45%, 70%);
$primary-75: hsl(189, 45%, 75%);
$primary-80: hsl(189, 45%, 80%);
$primary-85: hsl(189, 45%, 85%);
$primary-90: hsl(189, 45%, 90%);
$primary-95: hsl(189, 45%, 95%);